* {
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    background-color: #EEF5FC;
    
}

header {
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}
header h1 {
    color: #003366;
}

}

nav {
    background-color: #003366;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bolder;
}

nav a:hover {
    color: gold;
}

.banner {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
}

form {
    max-width: 600px;
    margin: auto;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

p {
    color: #000;
    font-weight: bolder;
    font-size: 22px;
    padding: 30px;
    padding-bottom: 45px;
}

#special {
    color: black;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    
}

}
h2 {
    color: black;
    font-weight: 900;
    padding: 15px;
    padding-left: 45px;
    letter-spacing: 1px;
}

button {
    padding: 10px 20px;
    background-color: #EEF5FC;
}

main {
    padding: 30px;
    max-width: 1000px;
    margin: auto;
}
section {
    margin-bottom: 30px;
}
footer {
    background-color: #003366;
    color: white ;
    text-align: center;
    padding: 15px;
}

@media (max-width: 768px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
    .banner {
        height: 300px;
    }
    main {
        padding: 15px;
    }
}

p.footer {
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

p.contact {
    padding: 25px;
    color: black;
    font-weight: bolder;
    padding-left: 45px;
    text-shadow:
                -1px -1px 0 white,
                 1px -1px 0 white,
                -1px  1px 0 white,
                 1px  1px 0 white;
}

p.Location {
    padding-bottom: 20px;
    font-weight: 900;
    color: black;
    text-shadow:
                -1px -1px 0 white,
                 1px -1px 0 white,
                -1px  1px 0 white,
                 1px  1px 0 white;
}

p.about {
    padding-bottom: 90px;
    padding-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 900;
    color: white;
    text-shadow: 
                -2px -2px 0 black,
                 2px -2px 0 black,
                -2px  2px 0 black,
                 2px  2px 0 black,
                -3px  0px 0 black,
                 3px  0px 0 black,
                 0px -3px 0 black,
                 0px  3px 0 black;

}
p.projects {
    padding-bottom: 8px;
    padding-top: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 900;
    color: white;
    text-shadow: 
                -2px -2px 0 black,
                 2px -2px 0 black,
                -2px  2px 0 black,
                 2px  2px 0 black,
                -3px  0px 0 black,
                 3px  0px 0 black,
                 0px -3px 0 black,
                 0px  3px 0 black;
}
p.projects {
    padding-bottom: 8px;
    padding-top: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 900;
    color: white;
    text-shadow: 
                -2px -2px 0 black,
                 2px -2px 0 black,
                -2px  2px 0 black,
                 2px  2px 0 black,
                -3px  0px 0 black,
                 3px  0px 0 black,
                 0px -3px 0 black,
                 0px  3px 0 black;
}




